@import "tailwindcss";




:root {
  --background: url("/background.jpg")!important;
  --foreground: #8F7E77;
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
  
}

@font-face {
  font-family: "orbitron";
  src: url("/fonts/Orbitron-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "orbitron";
  src: url("/fonts/Orbitron-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KHInterference";
  src: url("/fonts/KHInterference-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPRightGrotesk";
  src: url("/fonts/PPRightGroteskText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Utility Classes */
.font-orbitron {
  font-family: "Orbitron", sans-serif;
}

.font-khinterference {
  font-family: "KHInterference", sans-serif;
}

.font-pprightgrotesk {
  font-family: "PPRightGrotesk", sans-serif;
}

