@import "tailwindcss";

:root {
  --background: url("/background.jpg");
  --foreground: #8F7E77;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; 
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KHInterference";
  src: url("/fonts/KHInterference-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPRightGrotesk";
  src: url("/fonts/PPRightGroteskText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Utility Classes */
.font-orbitron {
  font-family: "Orbitron", sans-serif;
}

.font-khinterference {
  font-family: "KHInterference", sans-serif;
}

.font-pprightgrotesk {
  font-family: "PPRightGrotesk", sans-serif;
}

@media (max-width: 768px) {
  body {
    background-size: cover; 
    background-position: center center; 
  }
}

@keyframes clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anticlockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes rotateX {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes clockHand {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes clockHand {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-clockwise {
  animation: clockwise 20s linear infinite;
}

.animate-anticlockwise {
  animation: anticlockwise 40s linear infinite;
}

.animate-rotateX {
  animation: rotateX 30s linear infinite;
}

.animate-rotateY {
  animation: rotateY 40s linear infinite;
}


.animate-clockHand {
  animation: clockHand 60s linear infinite;
}