@import "tailwindcss";



:root {
  --background: url("/background.jpg")!important;
  --foreground: #8F7E77;
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}


@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KHInterference";
  src: url("/fonts/KHInterference-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPRightGrotesk";
  src: url("/fonts/PPRightGroteskText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Utility Classes */
.font-orbitron {
  font-family: "Orbitron", sans-serif;
}

.font-khinterference {
  font-family: "KHInterference", sans-serif;
}

.font-pprightgrotesk {
  font-family: "PPRightGrotesk", sans-serif;
}

@media (max-width: 768px) {
  body {
    background-size: cover; 
    background-position: center center; 
  }
}

@keyframes clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anticlockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes rotateX {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes clockHand {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes clockHand {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-clockwise {
  animation: clockwise 20s linear infinite;
}

.animate-anticlockwise {
  animation: anticlockwise 40s linear infinite;
}

.animate-rotateX {
  animation: rotateX 30s linear infinite;
}

.animate-rotateY {
  animation: rotateY 40s linear infinite;
}


.animate-clockHand {
  animation: clockHand 60s linear infinite;
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out forwards;
  --animate-giggle: giggle 1s ease-in-out infinite; 
  @keyframes wiggle {
      0% {
          transform: translate(0, 0);
          opacity: 1;
      }
      50% {
          transform: translate(-70px, -60px) scale(1.1);
          opacity: 0.75;
      }
      100% {
          transform: translate(-70px, -60px) scale(1.1);
          opacity: 0.4;
      }
  }

  @keyframes giggle {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px) ;
    }
    50% {
      transform: translateX(5px) ;
    }
    75% {
      transform: translateX(0px) ;
    }
    100% {
      transform: translateX(0) ;
    }
  }
}

.zhsvg path {
  fill: transparent;
  stroke: #8F7E77;
  stroke-width: 0.1;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: textAnimation 4s ease-in-out 1 forwards;
  animation-timeline: view(75% 5%);
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #8F7E77;
    stroke-dashoffset: 0;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
